sudo: false

language: python

python:
    - 3.5
    
install:
    - pip install codecov
    
script:
    - coverage run Midterm_Poker.py
    
after_success:
    - bash <(curl -s https://codecov.io/bash)
    